body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  padding:30px;
  padding-top: 20px;
  float:left;
}

aside {
  padding-top: 74px;
  float:left;
}

#tabellListeContainer {
  padding:4px;
  min-height: 350px;
}

#tabellListeHeading {
 font-size: 16px;
 text-align: center;
 padding:5px;
 margin-bottom: 7px;
}

#tabellListe {
 padding-left:10px;
 padding-right: 10px;
 padding-bottom: 5px;
 padding-top: 0px;
 margin-top: 0px;
}

#tabeller td {
  padding-bottom:2px;
  padding-right:4px;
  padding-left:4px
}

#DBHead {
padding-top: 5px;
padding-right:10px;
padding-bottom: 0px;
margin-bottom: 0px;
vertical-align: bottom;
float:left;
}

#inputHead {
max-width:300px;
float:left;
verical-align: bottom;
}

#selectDB {
vertical-align: bottom;
float:left;
margin-left:10px;
margin-bottom:5px;
max-width: 200px;
}

#skinSelectDiv {
float: right
}

a {
  color: navy;
}

#queryText {
  font-size: 18px;
  width: 800px;
  height: auto;
  min-height: 350px;
  border: solid 1px silver;
  border-radius: 5px;
  white-space: pre;
  padding: 10px;
  overflow-wrap: break-all;
  overflow-y: scroll;
  word-break: break-all;
  float:left;
  margin-top:5px;
}


#info {
float: right;
margin-left: 20px;

}


#resultTable {
  margin-top: 20px;
  border: solid 1px #333;
  box-shadow: 5px 5px 20px #444;
  margin-bottom: 50px;
}

td {
  padding: 5px;;
}

.th, th {
  font-weight: bold;
  background-color: #333;
  color: white;
  padding:5px;
}

#input {
float: left;
text-align: bottom;
vertical-align: bottom;
}



#feilmelding {
font-weight: bold;
margin-top:10px;
padding: 10px;
width: 800px;
overflow-wrap: break-all;
overflow-y: scroll;
float:left
}

#infotekst {
width: 800px;
text-align: right;
vertical-align: middle;
margin-top:10px;
float:left;
}

#skrivSelect {
font-size: 16px;
vertical-align: bottom;
float:right;
}

#hent {
float:left;
}


div.code {
  white-space: pre;
}