body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  padding:40px;
  padding-top: 20px;
}

a {
  color: navy;
}

#queryText {
  font-size: 18px;
  width: 800px;
  height: auto;
  min-height: 200px;
  border: solid 1px silver;
  border-radius: 5px;
  white-space: pre;
  padding: 10px;
  overflow-wrap: break-all;
  overflow-y: scroll;
  word-break: break-all;
}


#info {
float: right;
margin-left: 20px;

}

#tabellListe {

}
table {
  margin-top: 20px;
  border: solid 1px #333;
  box-shadow: 5px 5px 20px #444;
  margin-bottom: 50px;

}

tr {
  background-color: #efefef;
}

tr:nth-child(even) {
  background-color: #ddd;
}

td {
  padding: 5px;;
}

.th, th {
  font-weight: bold;
  background-color: #333;
  color: white;
  padding:5px;
}

#input {
float: left;
text-align: bottom;
vertical-align: bottom;
}

#inputHead {

}

#DBHead {
font-size: 30px;
padding-right:5px;
vertical-align: bottom;
}

#feilmelding {
color: red;
font-weight: bold;
margin-left: 10px;
}


#skrivSelect {
float:left;
font-size: 16px;
vertical-align: bottom;
}

#selectDB {
height: 22px;
font-size: 16px;
text-align: baseline;
float:left;
margin-right:10px;
margin-bottom:5px;
}

div.code {
  white-space: pre;
}

