<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{head :: head}"></div>
</head>
</head>
<body>
<div th:replace="~{meny :: meny}"> </div>
<main>
<h1>DBApp</h1>
<h4>Ansattoversikt</h4>
<div id="queryResult">
    <table id="tabell">
        <thead>
        <tr>
            <th th:each="kolonneoverskrift : ${tableHeader}">
                <th:block th:text="${kolonneoverskrift}"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rad : ${tableContent}">
            <td th:each="kolonne : ${rad}">
                <th:block th:text="${kolonne}"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</main>
</body>
</html>