<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{head :: head}"></div>
</head>
<body>
<div th:replace="~{meny :: meny}"> </div>
<main>
<h1>DBApp  <button class="btn btn-primary" onclick="document.location.href='/select'">Ny SQL</button> </h1>
<h3>En enkel app for å hente data fra databaser.</h3>
<h4>Teknologier brukt:</h4>
    <ul>
        <li><a href="https://www.oracle.com/cis/java/technologies/java-se-glance.html" target="_blank">Java SE</a></li>
        <li><a href="https://start.spring.io" target="_blank">Spring Boot</a> </li>
        <li><a href="https://getbootstrap.com" target="_blank">Bootstrap</a></li>
    </ul>

<p>Koden til denne appen kan hentes herfra:  <a href="https://github.com/terjebh/dbdemo" target="_blank">https://github.com/terjebh/dbdemo</a></p>

</main>
</body>
</html>