<!DOCTYPE html>
<html lang="no" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="meny">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bank2" viewBox="0 0 16 16">
      <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"/>
    </svg></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Hjem</a></li>
        <li class="nav-item"><a class="nav-link" href="/select/postgres">PostgreSQL</a></li>
        <li class="nav-item"><a class="nav-link" href="/select/microsoft">Microsoft SQL</a></li>
        <li class="nav-item"><a class="nav-link" href="/select/oracle">Oracle SQL</a></li>
        <li class="nav-item"><a class="nav-link" href="/select/mysql">MySQL</a></li>
        <li class="nav-item"><a class="nav-link" href="/sqlite">🗄️ SQLite</a></li>
        <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/brukere" title="Administrer brukere">👥 Brukere</a></li>
        <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/setup" title="Oppdater databasetilkoblinger">⚙️ Tilkoblinger</a></li>
      </ul>
      <span class="navbar-text d-flex">
        <span class="text-light me-3" sec:authorize="isAuthenticated()"
              th:text="'Logget inn: ' + ${#authentication.name}"></span>
        <form method="post" th:action="@{/logout}" class="d-inline" sec:authorize="isAuthenticated()">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
          <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
        </form>
      </span>
    </div>
  </div>
</nav>
</div>
</html>
