<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{head :: head}"></div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css"/>
    <script src="/results.js" defer></script>
</head>
<body>
<div th:replace="~{meny :: meny}"></div>
<main>
    <h3><span><th:block th:text="${rdbms}"/></span>
        <button class="btn btn-primary" onclick="nySQL()">Ny SQL</button>
        <button class="btn btn-success" onclick="redigerSQL()">Rediger SQL</button>
        <form id="editQueryForm" method="post" action="/select/edit">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" id="rdbms_sti" name="rdbms_sti" th:value="${rdbms_sti}"/>
        <input type="hidden" name="rdbms"  th:value="${rdbms}"/>
        <input type="hidden" name="dbList"  th:value="${dbList}"/>
        <input type="hidden" name="db"   th:value="${db}"/>
        <input type="hidden" name="query"  th:value="${query}"/>
        </form>
    </h3>
    <h7>
        <span id="db"><th:block th:text="${db}"/></span> : <span id="sql"><th:block th:text="${query}"/></span>
    </h7>
    <div id="queryResult">
        <table id="resultTable" class="table table-striped">
            <thead>
            <tr>
                <th th:each="header : ${tableHeader}" style="background-color:black;">
                    <th:block th:text="${header}"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rad : ${tableContent}">
                <td th:each="kolonne : ${rad}">
                    <th:block th:text="${kolonne}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script>
Object.assign(DataTable.defaults, {
        order: false,
        lengthMenu: [
        [10, 25, 50, -1],
        [10, 25, 50, 'All']
    ]
});
    let table = new DataTable('#resultTable');
</script>

</body>
</html>